@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

body {
  margin: 0;
  padding: 0;
  background: url("/images/concert.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
 /*Header and Nav */
header {
  background: black;
}
h1#logo {
  margin: 0;
  display: inline-block;
  padding: 10px 0;
  text-transform: lowercase;
}
#logo a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
nav {
  float: right;
  padding-top: 20px;
  text-transform: lowercase;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 700;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
    background: rgba(255,255,255,0.6);
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Welcome page */
.welcome {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
.welcome a {
  text-decoration: none;
}

.welcome h1 {
  font-size: 3em;
  max-width: 540px;
  margin: auto;
  margin-top: 15%;
  line-height: 1.3;
}

/* Song pag */
.song.ng-scope {
  display: inline-block;
  max-width: 380px;
  vertical-align: top;
  padding: 10px;
  margin: auto;
}
.song-listing {
  text-align: center;
}
.song.ng-scope img {
  max-width: 380px;
  width: 100%;
}
.new-song {
  padding-bottom: 20px;
  display: block;
}
audio {
  display: block;
}
