<div class="content">
  <h2>Song</h2>

  <p>{{SongShowViewModel.song.title}}</p>
  <p>BY: {{SongShowViewModel.song.artist}}</p>
  <img data-ng-src="{{SongShowViewModel.song.photoUrl}}">
  <p>{{SongShowViewModel.song.songUrl}}</p>
  <p>{{SongShowViewModel.song.genre}}</p>

  <h2>Edit Song</h2>

  <form data-ng-submit="SongShowViewModel.update()">
    <input placeholder="Title" data-ng-model="SongShowViewModel.song.title">
    <input placeholder="Artist" data-ng-model="SongShowViewModel.song.artist">
    <input placeholder="Song URL" data-ng-model="SongShowViewModel.song.songUrl">
    <input placeholder="Photo URL" data-ng-model="SongShowViewModel.song.photoUrl">
    <input placeholder="Genre" data-ng-model="SongShowViewModel.song.genre">
    <button type="submit">Update Song</button>
  </form>
</div>
